:root {
    --red: #F14F21; 
    --green: #7EB900; 
    --blue: #00A3EE; 
    --yellow: #FEB800;
    --orange: #d13f13; 
    --lorange: #f5977a;
    --dark-blue: #0459cc; 
    --blackish: #0f051c;


}
.child_node circle{
    fill: var(--lorange);
    r: 10; 
    z-index: 2;
}

.child_node text{
    font-size: 0.8rem; 
    cursor: pointer;
}

.hover_group line{
    stroke: var(--blackish); 
}

.hover_node circle{
    fill: var(--yellow);
    r:20;
    z-index: 2;

}
.hovertext_2 {
    fill: var(--blackish)
}

.hovertext_1 {
    fill: var(--dark-blue)
}

.hover_node text{
    cursor: default;
}

.microsoft_node text{
    font-size: 20px;
    z-index: 1;
    fill: var(--dark-blue);
}

.microsoft_node circle{
    fill: none; 
    stroke: var(--orange);
    r: 100; 
}

.side_panel {
    border: 1px;
    stroke-width: 1px;
    fill: var(--blackish);
    float: right;
    width: 35%;
    height: 100%;
    text-align: right;
}
.acquired_node circle{
    fill: var(--orange); 
    z-index: 1;
    r: 2; 
}

.newly_acquired circle{
    fill: var(--blue); 
    z-index: 1;
    r: 2; 
}

.microsoft_disp{
    text-align: right;
}
.microsoft_disp p{
    text-align: right;
}

.company_disp{
    justify-items: right;
    justify-content: right;
}

.main_body{
    padding: 1rem;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.svg_body {
    width: 65%;
    height: 80%;
    float: left;
}
.tippy-box{
    color: var(--dark-blue);
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0px;
    padding: 5px 8px;
    border-style: solid;
}

.tippy-arrow{
    color: var(--dark-blue);
}

.graph_svg {
    width: 100%;
    float: bottom;
    cursor: pointer; 
}
.graph_svg:active
{
    cursor:move;
}
.bottom_panel{
    position: absolute; 
    bottom: 2rem;
    width: 95%;
}

.x_axis {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

h1{
    font-size: 3.5rem;
    margin: 1rem 0rem;
}

h2{
    font-size: 2rem;
    font-weight: normal;
}

h3{
    font-weight: normal;
}

.calltoaction{
    font-weight: bold; 
    fill: var(--red);
}

.final_note{
    border-style: solid;
    padding: 1rem; 
    width: auto;
    color: var(--dark-blue);
    stroke: var(--dark-blue);
}

p{
    font-size: 1.5rem;
}

a{
    color: var(--dark-blue);
}

.key{
    position:absolute;
    stroke-width: 1px;
    border-style: solid;
    padding: 1rem;
    height: 12rem;
    font-size: 1.2rem;
    width:20rem;
}

.key_0{
    fill: var(--lorange); 
    r: 10; 
}

.key_1{
    fill: var(--orange); 
    r: 2; 
}

.key_2{
    fill: var(--blue); 
    r: 2; 
}